
/*
Fonts
*/

@font-face {
  font-family: 'bentonsans-light';
  src: url('../fonts/bentonsans-light-webfont.woff');
  font-weight: normal;
}

@font-face {
  font-family: 'bentonsans-regular';
  src: url('../fonts/bentonsans-medium-webfont.woff');
  font-weight: normal;
}

/*
Elements
*/

body{
  margin: 0;
  padding: 0;
}

button{
  font-family: 'bentonsans-regular';
  margin: 10px 10px 0px 0px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  color: white;
}

h3{
  padding: 0;
  margin: 0;
}

h4, h6{
  font-family: 'Helvetica';
}

h5{
  font-family: 'bentonsans-regular';
  display: inline;
  color:white;
  font-size:15px
}

p{
  font-family: monospace;
  display: inline;
  font-size: 12px;
  text-align: left;
}

/*
ids
*/

#title{
  font-family: 'bentonsans-light';
  text-align: center;
  background: #1b1b1b;
  color: #ffffff;
  padding: 35px 20px 20px 20px
}

#submit{
  background: #54d778;
  border: none;
  color: white;
  max-width: 100px;
}

#cancel{
  background: #b55d61;
  border: none;
  color: white;
  max-width: 100px;
}

#divider{
}

#takePhoto{
  background-color: rgba(28, 28, 28, 0.94)
}

#uploadPhoto{
  background-color: rgba(28, 28, 28, 0.94)
}

#genTitle{
  text-align: center;
  text-decoration: underline;
}

#getPhoto{
  text-align: center;
}

#buttons{
  text-align: center;
}

#usePhoto{
  background: rgba(0, 0, 0, 0.31);
  color: white;
  width: 90px;
  padding: 10px 6px;
}

#currentImageHolder{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 18vh;
  height: 200px;
}

#currentImage{
  display: block;
  max-width: 230px;
  max-height: 195px;
  margin: 20px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.42);
  text-align: center;
}

#result{
  margin: 35px 25px 25px 25px;
  height: 390px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  padding: 0.3px 30px 30px 30px;
}

#imagesGrid{
  text-align: center;
  margin: 30px 0px 0px 0px;
}

#removePhoto{
  background: #dcd8d8;
}

#clearAll{
  background: #e27474;
}

#loading{

}

#loading img{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 19vh;
  width: 30px;
}

#menu{
  position: absolute;
}

#menu img{
  max-width: 30px;
}

#getIp{
  background: rgba(0, 0, 0, 1);
  padding: 10px;
  display: inline-block;
  margin-top: 50px;
  position: absolute;
  top: 150px;
  left: 55px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 999;
}

#ip{
  background: #ecebeb;
  margin: 10px;
  border: none;
  padding: 10px;
}

#submitIp{
  background: #ffffff;
  border: none;
  padding: 10px;
  color: black;
  border-radius: 0px;
}

#status{
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #a0a0a0;
  right: 20px;
  top: 40px;
}
/*
Classes
*/

.element{
  width: 100px;
  height: 75px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  border: 1px solid #f3f3f3;
}

.element img {
  width: 100%;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}
